@model IEnumerable<FusionWeb.Models.Dish>

@using Microsoft.AspNetCore.Http;
    <table class="table tcart">
        <thead>
            <tr>
                <th>תמונה</th>
                <th>שם המנה</th>
                <th>מחיר המנה</th>
                <th>כמות</th>
                <th>סה"כ</th>
                <th></th>
            </tr>

        </thead>
        <p class="text-center title">הסל שלי</p>

        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Image" class="card-img dishImg" alt="..." height="80px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <!--class="productName"-->

                <td>
                    @*ViewData["quantity"] = dict; view data with function cart*@
                    @ViewBag.quantity[item.Id.ToString()]
                </td>
                <td>
                    <!--class="price"-->
                    @(item.Price * ViewBag.quantity[item.Id.ToString()])
                </td>
                <td>


                    <p class="mb-0">
                        <a asp-controller="Orders" asp-action="DeleteFromCart" asp-route-id="@item.Id" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"></path>
                            </svg>
                        </a>
                    </p>
                </td>




            </tr>
        }

        </tbody>
    </table>
<form asp-action="Index">
    <input type="submit" class="btn btn-light btn_pay" value="להמשך קניה" />
</form>


@if (Model.Count() != 0)
{
    <form asp-controller="Orders" asp-action="Create" method="get" >
        <input type="submit" class="btn btn-light btn_pay" value="לתשלום" />
    </form>
}

@section Css
    {
    <link rel="stylesheet" href="~/css/Cart.css">
    <link rel="stylesheet" href="~/css/Index.css">
}