@model FusionWeb.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}


<div class="title">?האם את/ה בטוח/ה שאתה רוצה למחוק</div>
<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.PhoneNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Client.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfDinners)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NumOfDinners)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitchen)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Kitchen)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחק" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לרשימה</a>
    </form>
</div>
@section Css{

    <link rel="stylesheet" href="~/css/Delete.css" />
}
