@model FusionWeb.Models.Reservation


@{
    ViewData["Title"] = "Details";
}

<div class="title"> נתוני הזמנה</div>

<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.PhoneNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Client.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfDinners)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NumOfDinners)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitchen)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Kitchen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">חזרה לרשימה</a>
</div>
@section Css{

    <link rel="stylesheet" href="~/css/Details.css" />
}

