@model IEnumerable<FusionWeb.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}



<div class="title"> הזמנת מקומות</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfDinners)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitchen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfDinners)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kitchen)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">הצג</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">מחק</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Css{ @*<link rel="stylesheet" href="~/css/Reservtion.css" />*@

<link rel="stylesheet" href="~/css/Index.css" />
}
