@model IEnumerable<FusionWeb.Models.Order>

        @{
            ViewData["Title"] = "Index";
        }


      
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th> מנות</th>
                </tr>
            </thead>
            <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

            <td>
                <ul>
                    @foreach (var order in item.Dishes)
                    {
                        <li>@order.Dish.Name</li>

                    }

                </ul>
            </td>

            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">מחיקת הזמנה</a>
            </td>
        </tr>
}
    </tbody>
</table>
