@model FusionWeb.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<p class="text-center title">נתוני פניה</p>

<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoClient.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.InfoClient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoClient.PhoneNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.InfoClient.PhoneNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoClient.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.InfoClient.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">חזרה לרשימה</a>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/Details.css" />

}